Repository hoonhoonbros/nhn-board, pull requests merged in 2022-05, with the labels that each got.

#5 user login complete
  src/main/java/com/nhnacademy/jdbc/board/controller/LoginController.java
  src/main/java/com/nhnacademy/jdbc/board/domain/User.java
  src/main/java/com/nhnacademy/jdbc/board/mapper/UserMapper.java
  src/main/java/com/nhnacademy/jdbc/board/repository/UserLoginRepository.java
  src/main/java/com/nhnacademy/jdbc/board/service/UserLoginService.java
  src/main/java/com/nhnacademy/jdbc/board/student/mapper/maps/UserMapper.xml
  src/main/webapp/WEB-INF/views/user/loginForm.html
Labels: user

#9 게시글 마크업 초안 완료
  src/main/webapp/WEB-INF/views/posts/edit.html
  src/main/webapp/WEB-INF/views/posts/index.html
  src/main/webapp/WEB-INF/views/posts/new.html
  src/main/webapp/WEB-INF/views/posts/post.html
Labels: post

#20 branch test
  src/main/webapp/WEB-INF/views/static/foo.css
Labels: bug, post

#21 Hotfix/auth
  src/main/java/com/nhnacademy/jdbc/board/config/MybatisConfig.java
  src/main/java/com/nhnacademy/jdbc/board/config/WebAppInitializer.java
  src/main/java/com/nhnacademy/jdbc/board/config/WebConfig.java
  src/main/java/com/nhnacademy/jdbc/board/controller/UserController.java
  src/main/java/com/nhnacademy/jdbc/board/interceptor/LoginCheckInterceptor.java
  src/main/java/com/nhnacademy/jdbc/board/service/UserService.java
  src/main/java/com/nhnacademy/jdbc/board/service/impl/UserLoginServiceImpl.java
  src/test/java/UserControllerTest.java
Labels: bug
